# Archivos del sistema
**/.DS_Store

# Carpetas de trabajo local
build/
build-xcode/
cmake-build-*/
.idea/
Testing/
pluginval_temp/
pluginval_logs/

# Carpetas y archivos antiguos o temporales
zOld/
**/zVar
**/Assets
**/JuceLibraryCode
**/Builds/MacOSX/build/Debug
**/Builds/MacOSX/build/Release

# Archivos de patches y herramientas manuales
Max/GenExpr.txt
tools/

# Scripts manuales de compilación final
build-xcode-aax-release.sh
build-xcode-vst3-au-release.sh
build-xcode-au_script.sh
build-xcode-vst3_script.sh

# Documentos que no se quieren versionar
CLAUDE.md